body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(23, 50, 69);
    color: rgba(255, 255, 255, 0.94);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Optional: Add some space between header and menu */
    padding: 1%;
    position: relative;
}

.header-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-content::before {
    content: "";
    width: 100px; /* Adjust this value as per your needed space */
    height: 1px;
}

.header-content h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.bio {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    max-width: 70%;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 20px;
}


.bio img {
    width: 50%;  /* You can adjust this value as needed */
    object-fit: cover;
    border-radius: 20px;
}

.bio-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: center;
    margin: auto;
    color: black;
    list-style-type: circle;
    width: 50%; /* text to take up the other half of the bio oval width */
}

.bio-content h1 {
    font-size: 40px;
    font-family: "Montserrat ExtraBold", sans-serif;
    font-weight: bold;
}

.bio-content h4 {
    font-size: 20px;
    font-family: "Montserrat ExtraBold", sans-serif;
    font-weight: bold;
    text-align: left;
    align-content: flex-start;
    margin: 10px;
}

.bio-content ul {
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: normal;
    text-align: left;
    margin: 10px;
    list-style-type: circle;
}







.project-link {
    display: block;
    padding: 15px 30px;
    margin: 10px auto;
    font-size: 30px;
    font-family: "Montserrat ExtraBold", sans-serif;
    text-decoration: none;
    text-align: center;
    max-width: 60%;
    color: #000; /* or any color you want */
    background-color: rgba(255, 255, 255, 0.87); /* or any color you want */
    border-radius: 20px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: rgba(255, 255, 255, 0.65); /* or any color you want */
}

.project-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.project-content img {
    width: 30%;  /* You can adjust this value as needed */
    object-fit: contain;  /* This will ensure your image stays within its bounds and maintains its aspect ratio */
    border-radius: 20px;
}

.project-content h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat ExtraBold", sans-serif;
    font-weight: bold;
}

.project-content p {
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: normal;
    margin: 10px;
}

.project-content ul {
    font-size: 15px;
    font-family: Montserrat, serif;
    font-weight: normal;
    text-align: left;
    margin: 10px;
    list-style-type: circle;
}


footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(68, 153, 172);;
    font-size: 30px
}


p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

ul {
    list-style-type: none;
}

ul li {
    margin-right: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-content ul li:hover {
    text-decoration: underline;

}



@media only screen and (max-width: 1450px) {
    .bio {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px; /* increase padding to give more inner spacing around the contents */
        max-width: 100%;
    }

    .bio img,
    .bio-content {
        width: 100%; /* both image and text should take up 100% width of the bio oval, stacking vertically */
    }

    .header-content {
        flex-direction: column;
    }

    .header-content h1 {
        position: static;
        transform: none;
    }

    .header-content ul {
        margin-top: 10px;
    }

    .project-link {
        padding: 15px;
        max-width: 100%;
    }

    .project-content {
        flex-direction: column;
    }

    .project-content img {
        width: 75%;
        margin: 0 auto;
    }
}